<a href="https://colab.research.google.com/github/FiliaEunikeSologia/TubesFintech_FiliaSologia/blob/main/tubes_fintech_filia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tugas Besar Individu Mata Kuliah Analisis Keputusan Teknologi Finansial**

# 1. PENDAHULUAN

Tugas ini merupakan tugas akhir untuk memenuhi penilaian akhir MK Analisa Keputusan untuk Teknologi Finansial.
Adapun dataset terpilih adalah Credit Scoring sesuai URL berikut https://github.com/gastonstat/CreditScoring/blob/master/CleanCreditScoring.csv

Model Machine Learning yang digunakan adalah....

Pada bagian di bawah ini saya tampilkan dataset yang digunakan

# 2. DATA LOADING



Adapun proses Data Loading dari dataset yang digunakan menggunakan kode yang dieksekusi sebagai berikut

In [ ]:
#IMPORT LIBRARIES DAN SETUP
# Mount Google Drive (untuk pengambilan dataset yg disimpan di drive)
from google.colab import drive
drive.mount('/content/drive')

# Import libraries dasar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

# Import libraries untuk machine learning
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (classification_report, confusion_matrix,
                             accuracy_score, precision_score, recall_score,
                             f1_score, roc_auc_score, roc_curve)
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
import joblib

# Konfigurasi visualisasi
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
%matplotlib inline

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Hasil dari eksekusi kode di atas adalah sebagai berikut :

In [ ]:
print("✓ Semua libraries berhasil diimport")

✓ Semua libraries berhasil diimport

In [4]:
import pandas as pd

#LOAD DATASET
file_path_raw = '/content/drive/MyDrive/TUBES-FINTECH/Credit/CreditScoring.csv'
file_path_clean = '/content/drive/MyDrive/TUBES-FINTECH/Credit/CleanCreditScoring (1).csv'

df_raw = pd.read_csv(file_path_raw)
df_clean = pd.read_csv(file_path_clean)
print("="*60)
print("INFORMASI DATASET")
print("="*60)
print(f"\nRAW Dataset Shape: {df_raw.shape}")
print(f"CLEAN Dataset Shape: {df_clean.shape}")
print(f"\nMenggunakan CLEAN dataset untuk analisis")

============================================================
INFORMASI DATASET
============================================================

RAW Dataset Shape: (4455, 14)
CLEAN Dataset Shape: (4446, 27)

Menggunakan CLEAN dataset untuk analisis

In [5]:
### 2.3 Initial Data Exploration
# Display informasi dasar dataset
print("\n" + "="*60)
print("STRUKTUR DATA")
print("="*60)
print("\nNama Kolom dan Tipe Data:")
print(df_clean.dtypes)

print("\n" + "="*60)
print("PREVIEW DATA (5 Baris Pertama)")
print("="*60)
print(df_clean.head())

print("\n" + "="*60)
print("STATISTIK DESKRIPTIF")
print("="*60)
print(df_clean.describe())

# Check missing values
print("\n" + "="*60)
print("MISSING VALUES")
print("="*60)
missing = df_clean.isnull().sum()
print(f"Total missing values: {missing.sum()}")
if missing.sum() > 0:
    print("\nDetail missing values per kolom:")
    print(missing[missing > 0])
else:
    print("✓ Tidak ada missing values")

# Check data shape
print("\n" + "="*60)
print("DIMENSI DATA")
print("="*60)
print(f"Jumlah Baris (Records): {df_clean.shape[0]:,}")
print(f"Jumlah Kolom (Features): {df_clean.shape[1]}")

============================================================
STRUKTUR DATA
============================================================

Nama Kolom dan Tipe Data:
Status         object
Seniority       int64
Home           object
Time            int64
Age             int64
Marital        object
Records        object
Job            object
Expenses        int64
Income          int64
Assets          int64
Debt            int64
Amount          int64
Price           int64
Finrat        float64
Savings       float64
seniorityR     object
timeR          object
ageR           object
expensesR      object
incomeR        object
assetsR        object
debtR          object
amountR        object
priceR         object
finratR        object
savingsR       object
dtype: object

============================================================
PREVIEW DATA (5 Baris Pertama)
============================================================
  Status  Seniority   Home  Time  Age  Marital  Records        Job  Expenses  \
0   good          9   rent    60   30  married   no_rec  freelance        73
1   good         17   rent    60   58    widow   no_rec      fixed        48
2    bad         10  owner    36   46  married  yes_rec  freelance        90
3   good          0   rent    60   24   single   no_rec      fixed        63
4   good          0   rent    36   26   single   no_rec      fixed        46

   Income  ...         timeR         ageR       expensesR          incomeR  \
0     129  ...  time (48,99]  age (25,30]     exp (60,80]    inc (110,140]
1     131  ...  time (48,99]  age (50,99]     exp (40,50]    inc (110,140]
2     200  ...  time (24,36]  age (40,50]  exp (80,1e+04]  inc (190,1e+04]
3     182  ...  time (48,99]   age (0,25]     exp (60,80]    inc (140,190]
4     107  ...  time (24,36]  age (25,30]     exp (40,50]     inc (80,110]

           assetsR        debtR             amountR                  priceR  \
0     asset (-1,0]  debt (-1,0]        am (600,900]          priz (0,1e+03]
1     asset (-1,0]  debt (-1,0]    am (900,1.1e+03]  priz (1.5e+03,1.8e+03]
2  asset (0,3e+03]  debt (-1,0]  am (1.4e+03,1e+05]    priz (1.8e+03,1e+05]
3  asset (0,3e+03]  debt (-1,0]        am (600,900]  priz (1.3e+03,1.5e+03]
4     asset (-1,0]  debt (-1,0]          am (0,600]          priz (0,1e+03]

         finratR    savingsR
0  finr (90,100]   sav (4,6]
1   finr (50,70]   sav (4,6]
2   finr (50,70]   sav (0,2]
3   finr (50,70]  sav (6,99]
4    finr (0,50]  sav (6,99]

[5 rows x 27 columns]

============================================================
STATISTIK DESKRIPTIF
============================================================
         Seniority         Time          Age     Expenses       Income  \
count  4446.000000  4446.000000  4446.000000  4446.000000  4446.000000
mean      7.991453    46.453441    37.084121    55.601439   140.629780
std       8.176370    14.647979    10.986366    19.520839    80.177896
min       0.000000     6.000000    18.000000    35.000000     1.000000
25%       2.000000    36.000000    28.000000    35.000000    90.000000
50%       5.000000    48.000000    36.000000    51.000000   124.000000
75%      12.000000    60.000000    45.000000    72.000000   170.000000
max      48.000000    72.000000    68.000000   180.000000   959.000000

              Assets          Debt       Amount         Price       Finrat  \
count    4446.000000   4446.000000  4446.000000   4446.000000  4446.000000
mean     5354.948943    342.257085  1038.763383   1462.480432    72.616409
std     11534.328183   1244.694549   474.747952    628.555171    20.390595
min         0.000000      0.000000   100.000000    105.000000     6.702413
25%         0.000000      0.000000   700.000000   1116.250000    60.030020
50%      3000.000000      0.000000  1000.000000   1400.000000    77.096757
75%      6000.000000      0.000000  1300.000000   1691.500000    88.460263
max    300000.000000  30000.000000  5000.000000  11140.000000   100.000000

           Savings
count  4446.000000
mean      3.860083
std       3.726292
min      -8.160000
25%       1.615385
50%       3.120000
75%       5.195688
max      33.250000

============================================================
MISSING VALUES
============================================================
Total missing values: 0
✓ Tidak ada missing values

============================================================
DIMENSI DATA
============================================================
Jumlah Baris (Records): 4,446
Jumlah Kolom (Features): 27

# 3. STATISTICAL SUMMARY OF THE DATASET

# 4. DATASET PREPARATION

# 5. MODELLING AND EVALUATION

# 6. DATA VISUALIZATION

# 7. MODEL DEPLOYMENT AND TEST